.saved-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.event-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #e5e5e5;
  border-radius: 8px;
  border-style: solid;
  border-color: #d8cdce;
  border-width: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 550px;
}

.header-saved {
  text-align: center;
  font-size: 35px;
  color: #0e1d3c;
  margin-bottom: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.column-left {
  flex-grow: 1;
  flex-basis: 0;
}

.column-right {
  margin-left: 20px;
  flex-shrink: 0;
}

.event-details {
  margin-bottom: 10px;
}

/*Style for event image*/
.event-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border-style: solid;
  
}

button {
  margin-right: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

/*Saved events header*/
.header {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

/*Event name header*/
.event-name {
  margin-top: 0;
  font-weight: bold;
  font-size: 29px;
  margin-bottom: 1.5rem;
}

/* Edit and Delete buttons */
.edit-button {
  padding: 5px 16px;
  background-color: #0079d3;
  color: #d7dadc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-family: Abel;
}
.delete-button {
  padding: 8px 10px;
  background-color: #9e2f3e;
  color: #d7dadc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
  font-family: Abel;
}






