.event-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  border: solid black;
  border-width: 1.5px;
  border-radius: 10px;
}

.event-box .card {
  width: 100%;
}

.event-box .event-image {
  border: solid black;
  border-width: 3px;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px;
}

.event-box .button-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.event-box .card-title {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
