
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 20;
    margin: -20;
    box-sizing: border-box;
}



body {
background-color: #d9d9d9;
background-image: #d9d9d9;
background-attachment: fixed;
  background-repeat: no-repeat;

    font-family: 'Vibur', cursive;

    font-family: 'Abel', sans-serif;
opacity: .95;

}

.event-listed{
  margin: auto;
  width: 50%;
  border: 10px dashed #c06;
  padding: 30px;
  text-align: center;
  font-size: 30;
  
}

.head{
    font-size: 60;
    color: #c06;
}